

uvicorn[standard]
gunicorn
fastapi

python-multipart
google-generativeai
python-dotenv
cloudinary

# frist activate : = .venv\Scripts\activate
# to the the backend  command  = uvicorn app:app --reload --port 8000
